.navbar {
    &__custom {
        margin: 0 auto;
    }

    &__imagecont {
        margin: 0 10px;
    }

    &__menuimage {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        transition: background-color 0.2s ease;

        &:hover,
        &:focus {
            background-color: $logo;
        }
    }

    &__selected {
        background-color: $logo;
        color: #fff;
    }
}

header .nav-item {
    a.nav-link {
        padding: 0.50rem 1.5rem;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
        transition: background-color 0.2s ease;
    }

    a:hover,
    a:focus {
        @extend .navbar__selected;
        @extend .navbar__selected;
    }
}

@media (max-width: 991px) {
    .collapse.show li:first-of-type {
        margin-top: 10px;
    }
}

.maintitle {
    transition: color 0.2s ease-in;

    &:hover,
    &:active {
        color: $logo;
    }
}

.hide-xsm {
    display: none;
}

@media (min-width: 380px) {
    .hide-xsm {
        display: inline-block;
        font-size: 16px;
    }
}

@media (min-width: 440px) {
    .hide-xsm {
        font-size: 20px;
    }
}