* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #231f20;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    width: 100%;
}

header,
header.header {
    overflow-x: hidden;
    // Literalmente no sé por qué
}